<?xml version="1.0" encoding="utf-8" ?>
<softbar>
  <menus>
    <menu name="Development">
      <menuItem name="Notepad">
        <applicationPath>c:\windows\notepad.exe</applicationPath>
        <beginGroup>false</beginGroup>
      </menuItem>
      <menuItem name="Visual Studio 2017 b2 rev4">
        <iconPath>C:\Program Files (x86)\Microsoft Office\root\Office16\Excel.exe</iconPath>
        <applicationPath>C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\devenv.exe</applicationPath>
        <beginGroup>true</beginGroup>
      </menuItem>
    </menu>
    <menu name="Office">
      <menuItem name="Excel">
        <applicationPath>C:\Program Files (x86)\Microsoft Office\root\Office16\Excel.exe</applicationPath>
        <beginGroup>false</beginGroup>
      </menuItem>
    </menu>
  </menus>
</softbar>